.header{
    background-color: #212529;
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 10vh;
}
.nav li{
    color: white;
    list-style-type: none;
    display: inline;
 
}
.nav a{
    text-decoration: none;
    list-style-type: none;
    display: inline;
    color: white;
    padding-left: 10px;
}
.nav{
    margin-top: 20px;
}

.p1{
padding-left: 325px;
}

.p2{
padding-top: 75px;
padding-left: 325px;
 background-color: #F8F9FA;
}

  .p3{
    padding-top: 50px;
    padding-left: 325px;
  }

  .container{
    background-color: #1874fd;
    height: 300px;
 }

   .container h1{
    color: white;
    padding-left: 200px;
    margin-left: 200px;
    margin-right: -200px;
    padding-right: -200px;
    padding-top: 100px;
   }
    .container p{
        color: white;
        padding-left: 179px;
        margin-left: 179px;
        margin-right: -179px;
        padding-right: -179px;
    }
    
    .button{
        padding-right: -50px;
        padding-left: 50px;
    }
    .container2{
        background-color: black;
        width: 1190px;
        height: 75px;
      }

   .container2 h2{
   color: white;
  padding-left: 385px;
   }
